.infoTableHolder {
    .ant-col-xs-24 { 
        margin-bottom: 1px;
        background: #ededed;
    }

    label.labelDetails {
        display: block;
        float: left;
        width: 150px;
        background: #dddddd;
        padding: 5px;
        margin-right: 1px;
        height: 100%;
        font-style: italic;
    }

    span.infoDetails {
        display: block;
        float: left;
        padding: 5px;
        height: 100%;

        ol {
            margin: 0 0 0 20px;
            padding: 0px;
        }
    }
}