.peopleListHolder {
  padding-bottom: 50px; }
  .peopleListHolder label {
    display: block;
    padding: 10px;
    background: url("../static/headertitlebg.jpg") #000000;
    background-size: cover;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    overflow: hidden;
    position: relative;
    font-size: 15px;
    font-weight: normal;
    color: #dddddd; }
  .peopleListHolder .navHolder {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 250px; }
    .peopleListHolder .navHolder li {
      overflow: hidden;
      position: relative;
      margin-bottom: 1px; }
      .peopleListHolder .navHolder li a {
        display: block;
        padding: 15px 10px;
        color: #e8e8e8;
        font-size: 14px;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.2); }
        .peopleListHolder .navHolder li a img {
          float: left;
          margin-top: -5px;
          margin-right: 10px;
          border-radius: 5px;
          width: 30px; }
      .peopleListHolder .navHolder li a i:before {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .peopleListHolder .navHolder li a:hover i:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transition: rotate(45deg);
        transform: rotate(45deg); }
    .peopleListHolder .navHolder li.active a {
      background: rgba(255, 255, 255, 0.3); }
    .peopleListHolder .navHolder li.loading {
      text-align: center;
      padding: 5px; }
      .peopleListHolder .navHolder li.loading img {
        width: 50px; }
  .peopleListHolder .paginationHolder {
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 250px;
    overflow: hidden;
    transition: 0.3s all ease; }
  .peopleListHolder .paginationHolderForce {
    width: 250px !important; }

@media (max-width: 768px) {
  .peopleListHolder .paginationHolder {
    width: 0px; } }
