.sideNavWrapper {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000000;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  z-index: 12;
  overflow: hidden;
  transition: width .3s; }

.sideNavWrapperForce {
  width: 250px !important; }

@media (max-width: 768px) {
  .sideNavWrapper {
    width: 0px; } }
